#IAW{
  background-color: lightgrey;
  width: 97%;
  border: 15px solid green;
  padding: 5px;
  margin: 5px;

    
}

#a{
  background-color: orangered;
  width: 95%;
  border: 10px solid black;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

#int{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color:red;
  border: 10px solid black;
  align-items: center;
}

article{
  background-color:greenyellow;
  width: 50%;
  border: 10px solid white;
  padding: 10px 10px;
  margin: 10px;
}

#b{
  background-color:rgb(238, 190, 88);
  width: 90%;
  border: 10px solid white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

#c{
  background-color:yellow;
  width: 90%;
  border: 10px solid black;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

#d{
  background-color:rgb(88, 91, 238);
  width: 90%;
  border: 10px solid black;
  padding: 10px 10px;
  margin: 20px;
}

ul{
  background-color:green;
  width: 90%;
  border: 10px solid orange;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

#as{
  background-color:grey;
  width: 50%;
  border: 10px solid black;
  padding: 10px 10px;
  margin: 10px;
}


#peu{
  background-color:rgb(88, 203, 238);
  width: 97%;
  border: 10px solid green;
  padding: 10px 10px;
  margin: 10px;
}

h3{
  background-color: violet;
  width: 97%;
  border: 5px solid black;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

